* { outline: 0px; }

html, body, div, img, form, textarea, button { margin: 0; padding: 0; border: 0; }
table, tr, td { text-align: left; vertical-align: top; margin: 0; padding: 0; border: 0; }

p, ul, ol, li { padding: 0; margin: 0; }
p { margin-bottom: 20px; }
ul, ol { padding: 0; margin: 0; list-style-position: outside; }
li { padding: 0; margin: 0 0 0 20px; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }

.clear { clear: both; }

body { background: #d8dbe2; color: #19191c; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
a { color: #982328; }
a:visited { color: #982328; }

input[type=button], input[type=text], select { margin: 3px 5px 3px 0; border-style: solid; background: rgba(231, 236, 242, 0.5); border-color: rgba(231, 236, 242, 0.5); border-radius: 5px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
input[type=button], input[type=text], input[type=checkbox] { cursor: pointer; }
input[type=button], input[type=text] { border-radius: 5px; }
input[type=text] { width: 50px; margin: 0 5px; text-align: center; }

input.hard_reset { background: rgba(55, 63, 81, 0.075); border-color: rgba(55, 63, 81, 0.15); }

#main-content { width: 1280px; margin: 0 auto; font-size: 14px; line-height: 21px; }

#main-content table { width: 100%; }

.encounter { width: 33%; padding: 8px 0; background: rgba(55, 63, 81, 0.15); }
.pool { width: 34%; padding: 8px 0; background: rgba(55, 63, 81, 0.3);  }
.carnage { width: 33%; padding: 8px 0; background: rgba(55, 63, 81, 0.45); }

h3 { margin: 0 6px 8px 6px; padding: 0; font-weight: bold; font-size: 21px; line-height: 28px; }

.ent { margin: 3px 8px; padding-top: 8px; border-top: 1px solid rgba(231, 236, 242, 0.66); }

.npc-spell-list { width: auto !important; }
.npc-spell-list td { padding: 2px 2px 2px 0; }

.components td { padding: 3px 5px; background: rgba(88, 164, 176, 0.2); border: 1px solid #58a4b0; }

.component-attack { margin-top: 8px; }

.player_toggle, .npc_toggle, .vehicle_toggle { float: right; }

.top-link { padding: 10px 0; }
.bottom-link { padding: 30px 0 10px 0; }

.player_condition_add, .npc_condition_add { }
.player_conditions, .npc_conditions { }
.player_condition_remove, .npc_condition_remove { cursor: pointer; margin: 3px 5px 3px 0; padding: 2px 8px; border-radius: 5px; background: rgba(231, 236, 242, 0.5); float: left; }
