* { outline: 0px; }

html, body, div, img, form, textarea, button { margin: 0; padding: 0; border: 0; }
table, tr, td { text-align: left; vertical-align: top; margin: 0; padding: 0; border: 0; }

p, ul, ol, li { padding: 0; margin: 0; }
p { margin-bottom: 20px; }
ul, ol { padding: 0; margin: 0; list-style-position: outside; }
li { padding: 0; margin: 0 0 0 20px; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }

.clear { clear: both; }

#main-content { width: 1280px; margin: 0 auto; font: normal 12px/18px verdana; }

#main-content table { width: 100%; }

.encounter { width: 33%; padding: 8px 0; background: rgba(255, 220, 0, 0.33) }
.pool { width: 34%; padding: 8px 0; background: rgba(57, 204, 204, 0.33) }
.carnage { width: 33%; padding: 8px 0; background: rgba(255, 65, 54, 0.33); }

h3 { margin: 0 6px 8px 6px; padding: 0; font: bold 24px/36px verdana; }

.ent { margin: 3px 8px; padding-top: 8px; border-top: 1px solid #888; }
.ent input[type=text] { width: 50px; margin: 0 5px; text-align: center; }

.companion { padding: 3px 5px; background: rgba(204, 204, 204, 0.5); border: 1px solid #888; }
.concentration { margin: 5px 0; line-height: 30px; }
.concentration input[type=checkbox] { float: left; margin: 8px 5px 0 0; cursor: pointer; }

.npc-spell-list { width: auto !important; }
.npc-spell-list td { padding: 2px 2px 2px 0; }

.components td { padding: 3px 5px; background: rgba(204, 204, 204, 0.5); border: 1px solid #888; }

.component-attack { margin-top: 8px; }

.player_toggle, .npc_toggle, .vehicle_toggle { float: right; }

.top-link { padding: 10px 0; font: bold 15px/24px verdana; }
.bottom-link { padding: 30px 0 10px 0; }

.player_condition_add, .npc_condition_add { margin: 4px 0; }
.player_conditions, .npc_conditions { margin: 3px 0; }
.player_condition_remove, .npc_condition_remove { cursor: pointer; margin: 2px; padding: 3px 8px; border-radius: 5px; background: rgba(204, 204, 204, 0.67); float: left; }
.exhaustion_label { margin-left: 5px; }
